<RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Normal">
	<RadzenStack class="rz-w-100" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" AlignItems="AlignItems.Center">
		<RadzenText TextStyle="TextStyle.Subtitle1" Text="Search" />
		<RadzenTextBox Style="width: 100%; max-width: 400px;" Placeholder="Search ... " />
	</RadzenStack>
	<RadzenDataGrid TItem="KitViewModel" Data="@KitComponentList">
		<Columns>
			<RadzenDataGridColumn Property="@nameof(KitViewModel.DatePacked)" Title="Date Packed" FormatString="{0:MM/dd/yyyy}" Width="200px" />
			<RadzenDataGridColumn Property="@nameof(KitViewModel.Id)" Title="Kit Code" Width="80px" />
			<RadzenDataGridColumn Property="@nameof(KitViewModel.KitType)" Title="Type" />
			<RadzenDataGridColumn Property="@nameof(KitViewModel.Quantity)" Title="Quantity"  Width="120px"/>
			<RadzenDataGridColumn Property="@nameof(KitViewModel.Location)" Title="Location" Width="250px" />
			<RadzenDataGridColumn Title="Actions" Width="80px" >
				<Template Context="data">

				</Template>
			</RadzenDataGridColumn>
		</Columns>
		<EmptyTemplate>
			<p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">No records to display.</p>
		</EmptyTemplate>
	</RadzenDataGrid>
</RadzenStack>