@using LAKAPSAGAP.Models.ViewModel
@using Microsoft.AspNetCore.Identity

<MacroContainer Style="width: 100dvw; max-width: 900px; padding: 0.25rem">
	<RadzenText class="fw-bold text-primary" TextStyle="TextStyle.DisplayH5" Text="Add New User" />
	<form style="width: 100%;" class="d-grid gap-3">
		<div class="row w-100">
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Designation</span>
					<RadzenDropDown Data=@userRoles ValueProperty="@nameof(IdentityRole.Id)" TextProperty="@nameof(IdentityRole.Name)" @bind-Value="@model.RoleId" TValue="string" Style="width: 100%;" Placeholder="Select option" />
				</div>
				@if (userRoles is not null)
				{
					@foreach (var property in userRoles)
					{
						<span>@property.Name</span>
					}
				}
			</div>
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Barangay</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="Karuhatan" @bind-Value=model.Barangay />
				</div>
			</div>
		</div>
		<div class="row w-100">
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">First Name</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="Juan" @bind-Value=model.FirstName />
				</div>
			</div>
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Middle Name</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="Alfonso" @bind-Value=model.MiddleName />
				</div>
			</div>
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Last Name</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="Dela Cruz" @bind-Value=model.LastName />
				</div>
			</div>
		</div>
		<hr />
		<h5 class="row w-100 fs-6 text-danger fw-bold text-uppercase">Set Account and Password</h5>
		<div class="row w-100">
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Username / ID</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="CSWD-01" @bind-Value=model.Username />
				</div>
			</div>
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Password</span>
					<RadzenPassword Style="width: 100%;" Placeholder="Enter Password Here" @bind-Value=model.Password />
				</div>
			</div>
		</div>
		<div class="row w-100">
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Email</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="cswd@email.com" @bind-Value=model.Email />
				</div>
			</div>
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Phone Number</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="0912 3456 789" @bind-Value=model.Phone />
				</div>
			</div>
		</div>
		<div class="row w-100 d-flex flex-column gap-2">
			<RadzenCard Variant="Variant.Flat">
				<span class="fw-bold text-uppercase">Upload Valid ID/s</span>
				@* <RadzenUpload Multiple="true" Change="@((args) => HandleFileSelected(args))" Style="width: 100%; padding; height:64px;"
							  InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "select file" }})" /> *@
				<InputFile id="fileList" multiple OnChange="HandleFileSelected" />
			</RadzenCard>
		</div>
		<div class="d-flex align-items-center justify-content-end mt-3 gap-2">
			<RadzenButton Style="width: fit-content;" Text="Cancel" Click="() => dialogService.Close(false)" ButtonStyle="ButtonStyle.Danger" />
			<RadzenButton Style="width: fit-content;" Text="Add User" Click="CreateUser" ButtonStyle="ButtonStyle.Primary" />
		</div>
	</form>
</MacroContainer>

@code {

	[Parameter]
	public DialogService dialogService { get; set; } = default!;

	[Parameter]
	public RadzenDataGrid<UserInfo> datagrid { get; set; } = default!;

	[Parameter]
	public List<UserInfo> datalist { get; set; } = new();

	private void HandleFileSelected(InputFileChangeEventArgs e)
	{
		model.fileList = e.GetMultipleFiles().ToList();
	}

	
}