<MacroContainer Style="width: 100dvw; max-width: 900px; padding: 0.25rem">

	<RadzenText class="fw-bold text-primary" TextStyle="TextStyle.DisplayH5" Text="@(String.IsNullOrEmpty(model.Id) ? "Add New User" : $"Update User {model.Id}")" />

	<div style="width: 100%;" class="d-grid gap-3">
		<div class="row w-100">
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Designation</span>
					@* <RadzenDropDown Name="UserRoles" Data=@userRoles ValueProperty="@nameof(IdentityRole.Id)" TextProperty="@(string.Join(" ", nameof(IdentityRole.Name).ToLower().Split('_').Select(word => char.ToUpper(word[0]) + word.Substring(1))))" @bind-Value="@model.RoleId" TValue="string" Style="width: 100%;" Placeholder="Select option" /> *@
				</div>
			</div>
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Barangay</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="Karuhatan" @bind-Value=model.Barangay />
				</div>
			</div>
		</div>
		<div class="row w-100">
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">First Name</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="Juan" @bind-Value=model.FirstName />
				</div>
			</div>
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Middle Name</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="Alfonso" @bind-Value=model.MiddleName />
				</div>
			</div>
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Last Name</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="Dela Cruz" @bind-Value=model.LastName />
				</div>
			</div>
		</div>
		<hr />
		<h5 class="row w-100 fs-6 text-danger fw-bold text-uppercase">Set Account and Password</h5>
		<div class="row w-100">
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Username / ID</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="CSWD-01" @bind-Value=model.Username />
				</div>
			</div>
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Password</span>
					<RadzenPassword Style="width: 100%;" Placeholder="@(String.IsNullOrEmpty(model.Id) ? "Enter Password Here" : "Enter New Password Here")" @bind-Value=model.Password />
				</div>
			</div>
		</div>
		<div class="row w-100">
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Email</span>
					<RadzenTextBox Name="Email" Style="width: 100%;" Placeholder="cswd@email.com" @bind-Value=model.Email />
				</div>
			</div>
			<div class="col w-full">
				<div class="d-flex w-100 flex-column align-items-start justify-content-start gap-1">
					<span class="fw-bold text-uppercase">Phone Number</span>
					<RadzenTextBox Style="width: 100%;" Placeholder="0912 3456 789" @bind-Value=model.Phone />
				</div>
			</div>
		</div>
		<div class="row w-100 d-flex flex-column gap-2">

			<p class="fw-bold text-uppercase mb-1">Valid ID/s</p>

			@if (userFiles is not null)
			{
				<div class="d-flex flex-wrap justify-content-start align-items-center gap-3 mt-2">
					@foreach (var file in userFiles)
					{
						<div class="card position-relative w-25" style="width: fit-content;">
							<img class="card-img" src="@(file.Url.Replace(@"wwwroot\", ""))" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
						</div>
					}
				</div>
			}


		</div>
		<div class="d-flex align-items-center justify-content-end mt-3 gap-2">
			<RadzenButton Style="width: fit-content;" Text="Cancel" Click="() => dialogService.Close(false)" ButtonStyle="ButtonStyle.Danger" />
		</div>
	</div>

</MacroContainer>
