<RadzenStack Style="max-width: 1920px; margin-left: 4rem; margin-right: 4rem; " Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
             JustifyContent="JustifyContent.SpaceBetween" Wrap="FlexWrap.NoWrap" Gap="8rem">

    @* Website Logo *@

    <div href="/Dashboard" Style="width: 18rem; "
         @onclick="@(() =>_navManager.NavigateTo("Dashboard", true))">
        <RadzenImage Path="images/long.png" Style="width: 14rem; " AlternateText="LakapSagap" />
    </div>

    @* Navigation Links *@

    <RadzenStack Style="" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.Center" Wrap="FlexWrap.NoWrap" Gap="1rem">
        <div class="d-flex flex-row gap-2 px-4 py-2 justify-content-center align-items-center link-active rz-border-radius-6"
             @onclick="@(() =>_navManager.NavigateTo("Dashboard", true))">
            <i class='bx bxs-home fs-5'></i>
            <span class="fs-7 fw-bold text-center">Dashboard</span>
        </div>
        <div class="d-flex flex-row gap-2 px-4 py-2 justify-content-center align-items-center link rz-border-radius-6"
             @onclick="@(() =>_navManager.NavigateTo("Request", true))">
            <i class='bx bx-transfer-alt fs-5'></i>
            <span class="fs-6 fw-bold text-center">Request</span>
        </div>
        <div @ref="warehouseButton" @onclick="@(args => {warehousePopup.ToggleAsync(warehouseButton); ToggleVisibility();})" class="d-flex flex-row gap-2 px-4 py-2 justify-content-center align-items-center link rz-border-radius-6">
            <i class='bx bxs-business fs-5'></i>
            <span class="fs-6 fw-bold text-center">Warehouse</span>
            <i class="@($"bx {(_isVisible ? "bx-caret-up" : "bx-caret-down")} fs-6 ms-1")"></i>
        </div>
        <div class="d-flex flex-row gap-2 px-4 py-2 justify-content-center align-items-center link rz-border-radius-6"
             @onclick="@(() =>_navManager.NavigateTo("Users", true))">
            <i class='bx bxs-user fs-5'></i>
            <span class="fs-6 fw-bold text-center">Users</span>
        </div>
        <div class="d-flex flex-row gap-2 px-4 py-2 justify-content-center align-items-center link rz-border-radius-6"
             @onclick="@(() =>_navManager.NavigateTo("Reports", true))">
            <i class='bx bxs-report fs-5'></i>
            <span class="fs-6 fw-bold text-center">Reports</span>
        </div>
        <div class="d-flex flex-row gap-2 px-4 py-2 justify-content-center align-items-center link rz-border-radius-6"
             @onclick="@(() =>_navManager.NavigateTo("History", true))">
            <i class='bx bx-history fs-5'></i>
            <span class="fs-6 fw-bold text-center">History</span>
        </div>
    </RadzenStack>

    @* User *@

    <RadzenStack Style="width: 18rem;" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
                 JustifyContent="JustifyContent.End" Wrap="FlexWrap.NoWrap" Gap="4rem">
        <RadzenButton Icon="notifications" ButtonStyle="ButtonStyle.Base" Style="border-radius: var(--rz-border-radius-6);" />
        <div>
        </div>
    </RadzenStack>

</RadzenStack>

<Popup @ref=warehousePopup Lazy=true class="popup">
    <RadzenStack Style="width: 8rem;" Orientation="Orientation.Vertical" AlignItems="AlignItems.Start"
                 JustifyContent="JustifyContent.Start" Wrap="FlexWrap.NoWrap" Gap="0.25rem">
        <div style="width: 100%; border: none; border-radius: var(--rz-border-radius-6);"
             class="d-flex flex-row gap-2 px-4 py-2 justify-content-center align-items-center link"
             @onclick="@(() =>_navManager.NavigateTo("Users", true))">
            <i class='bx bxs-package fs-5'></i>
            <span class="fs-6 fw-bold text-center">Stocks</span>
        </div>
        <div style="width: 100%; border: none; border-radius: var(--rz-border-radius-6);"
             class="d-flex flex-row gap-2 px-4 py-2 justify-content-start align-items-center link"
             @onclick="@(() =>_navManager.NavigateTo("Users", true))">
            <i class='bx bxs-shopping-bag-alt fs-5'></i>
            <span class="fs-6 fw-bold text-center">Kits</span>
        </div>
    </RadzenStack>
</Popup>

@code {
    [Inject] private NavigationManager _navManager { get; set; }

    ElementReference warehouseButton;
    Popup warehousePopup;
    bool _isVisible = false;

    private bool ToggleVisibility()
    {
        return _isVisible = !_isVisible;
    }
}

<style type="text/css">
    .popup {
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        display: none;
        position: absolute;
        overflow: hidden;
        padding: 0.75rem 0.5rem 0.5rem 0.75rem;
        border: 1px solid var(--rz-base-200);
        background-color: var(--rz-white);
        box-shadow: var(--rz-panel-shadow);
        border-radius: var(--rz-border-radius)
    }
</style>